@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
  scrollbar-color: #5A698F #1e1e1e; 
  scrollbar-width: medium
}


.swiper {
  width: 100%;
}

.mySwiper img{
  height:100%;
  width:100%;

}
.swiper-slide img {
  display: block;
  background:cover;
  min-height:140px;
  object-fit: cover;
}

/* ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    
    ::-webkit-scrollbar-track {
      background: #1e1e1e;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 20px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #333;
    }
    
    ::-webkit-scrollbar-corner {
      background: #1e1e1e;
    } */
