@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
  
}

.swiper {
  width: 100%;
}

.mySwiper img{
  height:100%;
  width:100%;

}
.swiper-slide img {
  display: block;
  background:cover;
  min-height:140px;
  object-fit: cover;
}

